facturx/facturx-test/Data/*
facturx/facturx-test/Project/DerivedData/*
facturx/facturx-test/userPreferences.*
facturx/facturx-test/Logs/
facturx/facturx-test/Plugins/
facturx/facturx-test/conformance-out.pdf
facturx/facturx-test/Resources/pdfa3.pdf
facturx/cmake-build/
facturx/build/
**/xcuserdata/
*.vcxproj.user
.DS_Store
